body{
  font-family: 'Playfair Display', serif;
  background-color: #cdcdcd;
}
.container{
  text-align: center;
}
.text-danger{
  text-shadow: 2px 0 grey;
  background-color: black;
  margin-bottom: 5%;
}
#start{
  font-size: 35px;
  color: blue;
}
#instruct{
  color: blue;
  font-size: 28px;
}
.panel-body ul li{
  list-style-type: none;
}
#instructions,#total,#total2,#player2,#alert1,#alert2,#win1,#win2,#throw1,#throw2{
  display: none;
}
a{
  text-decoration: none;
  border-top: 2px;
  background: #FFCDD2;
}
a:hover{
  text-decoration:none;
  background: #EF5350;
  color: white;
}
footer{
  margin-top: 25%;
  text-align: center;
}
