body{
  font-family: 'Playfair Display', serif;
}
.container{
  text-align: center;
}
.text-danger{
  text-shadow: 2px 0 grey;
}
#instructions,#total,#total2,#player2,#alert1,#alert2,#win1,#win2,#throw1,#throw2{
  display: none;
}
a{
  text-decoration: none;
  border-top: 2px;
  background: #FFCDD2;
}
a:hover{
  text-decoration:none;
  background: #EF5350;
  color: white;

footer{
  margin-top: 10%;
  text-align: center;
}
